* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}


.heading-block {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}


.logo-box {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.address-box {
    margin: 10px;

}

.border :hover {
    border: 2px solid white;
}

.line1 {
    color: aliceblue;
    font-size: 0.85rem;
    margin-left: 17px;

}

.line2 {
    color: antiquewhite;
    font-size: 1rem;
}

.search-box {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 35px;
}

.search-box :hover {
    border: 3px solid orange;
}

.category {
    width: 50px;
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-bar {
    text-align: start;
    width: 100%;
    font-size: 1rem;
}

.language {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    font-size: small;

}
.sign-in a{
    font-size: 0.9rem;
}
span {
    font-size: 0.7rem;
}

.list {
    font-size: 0.85rem;
    font-weight: 750;
}

.cart {
    background-color: rgb(240, 56, 5);
    font-weight: 750;
    color: #0f1111;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.all {
    text-align: start;
    font-size: medium;
    font-weight: 700;
}

.panel-option p {
    display: inline;
    width: 70%;
    font-size: 0.85rem;
    margin: 15px;
}

.gift {
    font-size: 0.95rem;
    font-weight: 700;
}

.section1 {
    background-image: url("section_1.jpg");
    height: 380px;
    background-size: cover;
}

.shop-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(209, 238, 209);
}

.box {

    height: 400px;
    width: 22%;
    background-color: whitesmoke;
    padding: 10px 0px 15px;
    margin: 15px;
}

.box-img {
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;


}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: rgba(210, 45, 7, 0.353);
}

.home {
    background-color: #4c4c58;
    color: aquamarine;
    font-weight: 700;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
}

.enquire {
    background-color: #616164;
    color: aliceblue;
    height: 300px;

    display: flex;

    justify-content: space-evenly;
}

ul p {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 700;

}

ul a {
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
}

.bottom {
    background-color: #0f1111;
    color: white;
    height: 60px;
    text-align: center;
    padding: 10px;

}

.end {
    font-size: 0.8rem;

}

.copyright {
    font-size: 0.8rem;


}