*{
    margin: 0   ;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(205, 202, 202);
}
.container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    width: 300px;
    height: 400px;
    padding: 15px;
    border: 5px solid rgb(245, 173, 90);
    border-radius: 20px;
    
}
.input{
    margin: 5px 0px;
    height: 40px;
    padding: 10px; 
}

button{
    height: 40px;
    margin: 5px,0px;
    background-color: yellow;
    border: none;
    color: antiquewhite;
}
button:hover{
    background-color: bisque;
    color: rgb(17, 16, 16);
}